#blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(199px, 1fr));
  gap: 16px;
}

#See-more-blogs-button {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers the button vertically, if needed */
  margin-bottom: 24px;
}
