.ads {
    background: var(--alicewhite);
    border: 4px solid #000;
    border-radius: 3px;
}

.ad-head {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#adv-1 {
    margin: auto;
    padding: 10px;
    width: 97%;
    height: 67px;
}